/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/kumbh-sans-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/kumbh-sans-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/kumbh-sans-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/kumbh-sans-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-ff: "Kumbh Sans", sans-serif;

  --color-primary: hsl(185, 75%, 39%);
  --color-heading: hsl(229, 23%, 23%);
  --color-neutral: hsl(255, 100%, 100%);
  --color-special: hsl(227, 10%, 46%);
  --color-text: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: var(--primary-ff);
}

.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 0 1rem;
}

.profile {
  --width: 40rem;
  position: relative;
  z-index: 2;
  max-width: var(--width);
  margin: 0 auto;
  background-color: var(--color-neutral);
  border-radius: 11px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__bg {
  width: 100%;
}

.profile__image {
  border: 5px solid var(--color-neutral);
  border-radius: 50%;
  transform: translateY(-50px);
}

.profile__title {
  color: var(--color-heading);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.profile__location {
  color: var(--color-text);
  font-weight: 500;
  margin-bottom: 2rem;
}

.profile__age {
  color: var(--color-special);
}

.stats {
  border-top: 1px solid var(--color-text);
  align-self: stretch;
  padding: 1.5rem 0;
}

.stats__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.stats__value {
  font-size: 1.25rem;
}

.stats__title {
  font-size: 0.833rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color-special);
}

.decoration {
  position: absolute;
  z-index: 0;
}

.decoration--left {
  top: -30rem;
  left: -12rem;
}

.decoration--right {
  bottom: -30rem;
  right: -20rem;
}

@media (max-width: 54rem) {
  .decoration--right {
    bottom: -35rem;
    right: -30rem;
  }

  .decoration--left {
    top: -35rem;
    left: -22rem;
  }
}

@media (max-width: 38rem) {
  .decoration--right {
    right: -40rem;
  }

  .decoration--left {
    left: -40rem;
  }
}
